/* ====== Reset ====== */
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-decoration:none;
	list-style:none;
	outline:none;
}


/* ============ HTML5 ============*/

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; } [hidden] { display: none; }


/* ============ Base Styles ================*/

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { font-family: sans-serif; color: #252525; }
body { margin: 0; font-size: 12px; line-height: 18px; background: #fff; }

/* ===== Fixes ===== */
.clearfix { clear:both; }
.alpha { margin-left:0px !important; }
.omega { margin-right:0px !important; }
img { width:100%;}


/* ===== Easter Eggs ===== */
::-moz-selection { background: #252525; color: #fff;  }
::selection { background: #252525; color: #fff;  }


/* ===== Colors ===== */
.bg { background:#252525;}

/* ===== Fixes ===== */

img { max-width:100%; display:block; margin:0 auto; }


/* ===== Typograhpy ===== */

.wf-loading { visibility: hidden !important; }
.brandon { font-family: "brandon-grotesque",sans-serif; font-style: normal; font-weight: 500; }
.brandon-bold { font-family: "brandon-grotesque",sans-serif; font-style: normal; font-weight: 700; }

/* HGroups */
h1,h2,h3,h4,h5 { font-weight:normal; color:#252525; font-family: "brandon-grotesque",sans-serif; font-style: normal; font-weight: 700; }
h1 { font-size:21px; }
h2 { font-size:19px; }
h3 { font-size:17px; }
h4 { font-size:15px; }
h5 { font-size:13px; }
h6 { font-size:11px; }

/* Paragraphs */
p { font-size:12px; line-height:18px; margin-bottom:15px; }

/* Links */

a.view { border:none; padding:10px; background: #252525; color:#fff; text-align: center; color:#fff; margin:20px 0; display: block; }
a.view:hover { background:#111; }


/* ===== Containers ===== */
.container { width:980px; margin:0 auto; }


/* ===== Header ===== */
header { margin-bottom: 30px; min-height: 65px; background: #f8f8f8; border-bottom:1px solid #eee; }

.logo { display: block; float:left; margin-top:22px; }
.logo img { max-width:146px; }

ul.main_nav { display: block; float:right; margin-top:25px; }
ul.main_nav li { float:left; margin-right:40px; }
ul.main_nav li a { color:#666; font-size: 13px; }
ul.main_nav li a:hover { color:#26b555; }

.menu { display: none; }
ul.menu_nav { display: block; float:left;  }
ul.menu_nav li { float:left; margin-right:20px; }
ul.menu_nav li a { color:#666; font-size: 13px; display: block; padding:8px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }
ul.menu_nav li a:hover { color:#26b555; background: #f1f1f1; }


/* ================================================== Project Page  */

.container { display: block; margin:20px 0;}

section.project_info { display: block; margin:20px 0; }
section.project_info h1 { text-transform: uppercase; margin:20px 0; text-align: center; }


/* ===== Profile ===== */
.profile { text-align: center; margin:50px 0;}
.profile h3 { font-size: 27px; margin-bottom:20px; color:#26b555; }
.profile p { font-size: 13px; line-height: 19px; margin-bottom:0px;}

/* ===== Footer ===== */

footer { margin-top: 30px; border-top:1px solid #eee; min-height: 115px; }
ul.farm { display: block; width:300px; margin:30px auto 0 auto; }
ul.farm li { float:left; margin-right:10px; }
ul.farm li:last-child { float:left; margin-right:0px; }
ul.farm li a { color:#666; font-size: 12px; }
ul.farm li a:hover { color:#26b555; }



/* ===== Project Grid ===== */
/*.project_box_wrap { padding-top:25px; border-top:1px solid #e6e6e6; border-bottom:1px solid #e6e6e6; margin-bottom:30px;  }
.project_box { position: relative; z-index:1; margin-bottom:40px; }
.project_box img { display:block; position: relative; z-index:2;  }
.project_box .project_info { position: absolute; z-index:5; background: url("../images/global/opc_bg.png")repeat; top:0px; right:0px; bottom:0px; left:0px; }
.project_info h1 { margin:35px 0 0 35px; color:#fff; font-size:19px; }
.project_info span.sub_title { font-size:13px; font-family: Times,sans-serif; font-style: italic; color:#fff; margin-left:35px; }*/

/* ===== Project ===== */
/*.project_wrap { padding-top:25px; }

.slides { margin-bottom:20px; display: block; }
.slides img { width: 100%; }

ul.pager { margin-bottom:20px; }
ul.pager a { font-size: 51px; color:#e6e6e6; }
ul.pager a.activeSlide { color:#252525; }

.info { width:100%; border-top:2px solid #e6e6e6; padding-top:25px; }
.info h1 { font-size: 21px; margin-bottom:25px; }
*/
/* ===== Buttons ===== */

/* ===== CSS3 ===== */
/*
.fade { opacity: 0; transition: opacity .25s ease-in-out; -moz-transition: opacity .25s ease-in-out; -webkit-transition: opacity .25s ease-in-out; }
.fade:hover { opacity: 1; }*/


