


/***** Screen Bigger than 960px *****/
@media only screen and (min-width:1200px) {


}



/***** Tablet (Smaller than 959px) *****/
@media only screen and (min-width: 768px) and (max-width: 959px) {
	
ul.main_nav li { float:left; margin-right:20px; }

}



/***** Phone (portrait 300px) *****/
@media only screen and (max-width: 767px) {

header { margin-bottom: 5px; }

.logo { margin-top:15px; }

ul.main_nav { display: none; }


}


	
/***** Phone (landscape 420px) *****/
@media only screen and (min-width: 480px) and (max-width: 767px) {
	

}



/***** Retina *****/
@media only screen and (-webkit-min-device-pixel-ratio: 2) {

.example								{ margin:0; padding:0; }

}
